<%- include("header"); -%>

<body>
    <div>
        <form action="/" method="POST">
            <input type="text" name="cityname" placeholder="Enter a City Name...">
            <button class="button btn btn-primary" type="submit">Go</button>
        </form>
    </div>
    <div class="error">
        <p class="errMsg"><%= errMsg %> </p>
    </div>

<%- include("footer"); -%>